.typingField {
    text-align: center;
    margin: 50px;
    background-color: antiquewhite;
}

.typingField p {
    line-height: 5;
    font-size: 60px;
    border-style: solid;
    border-color:burlywood;
}

button {
    display: block;
    margin: auto;
    width: 100px;
}